body {
  font-family: Verdana;
  font-size: 1.5em; }
  body h1 {
    color: red; }
  body #team-members {
    clear: both; }
  body .member {
    float: left;
    border: 1px solid gray;
    margin: 10px;
    padding: 6px; }
    body .member img {
      width: 200px;
      height: 200px; }
  body .member div.name {
    text-align: center; }
  body .original {
    display: block; }
  body .edit {
    display: none; }
  body .member:hover > .edit {
    display: block; }
  body .member:hover > .original {
    display: none; }
