body {
  font-family: Verdana;
  font-size: 1.5em; }
  body h1 {
    color: red; }
  body #team-members {
    clear: both; }
  body .member {
    float: left;
    border: 1px solid gray;
    margin: 10px;
    padding: 6px;
    position: relative;
    width: 200px;
    height: 220px; }
    body .member:nth-child(odd):hover img {
      border-radius: 50%;
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
      opacity: 0.8; }
    body .member:nth-child(even):hover img {
      border-radius: 50%;
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      transform: rotate(-360deg);
      opacity: 0.5; }
    body .member .name {
      position: relative;
      top: 200px;
      left: 0px; }
    body .member img {
      width: 200px;
      height: 200px;
      box-shadow: 5px 5px 5px #888888;
      border-radius: 25%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    body .member div.name {
      text-align: center; }
    body .member .original {
      opacity: 1; }
    body .member .edit {
      opacity: 0; }
    body .member img {
      position: absolute;
      top: 6px;
      left: 6px; }
  body .member:hover > .edit {
    opacity: 1; }
  body .member:hover > .original {
    opacity: 0; }
