body {
  font-family: Verdana;
  font-size: 1.5em;

  h1 {
    color: red;
  }

  #team-members {
    clear: both;
  }

  .member {
    float: left;
    border: 1px solid gray;
    margin: 10px;
    padding: 6px;
    
    img {
      width: 200px;
      height: 200px;
    }
}

  .member div.name {
    text-align: center;  
  }


  .original {
    display: block;
  }
  .edit {
    display: none;
  }
  .member:hover > .edit {
    display: block;
  }
  .member:hover > .original {
    display: none;
  }






}


